*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
background-color: #210032;
}

h1{
    color: #f0f;
    font-size: 20rem;
    letter-spacing: -1rem;
}

